//wide screen
@include mediaXl{
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
}

//Desktop & Laptops
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3,1fr);
    }
    .contact-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8%;
        .contact-box{
            width: 110%;
            height: 100%;
        }
    }
}

//Tablets &  small Laptops
@include mediaMd{
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding{
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait{
            background: url('../img/myportrait_small.png');
            width: 150px;
            height: 150px;
        }
    }

    .about-info{
        grid-template-areas:
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    main#contact h1{
        margin-top: 10vh;
    }
    .contact-container{
        display: grid;
        grid-template-columns: 1fr;
        .contact-box{
            width: 60%;
            height: 100%;
            margin: auto;

        }
    }
    //reusme
    .resume-container{
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: left;
    }
}

//smartphones
@include mediaSm{
    main#home h1{
        margin-top: 10vh;
    }
    .projects{
        grid-template-columns: 1fr;
    }
    main#contact h1{
        margin-top: 10vh;
    }
    main#contact{
        padding: 0;
    }
    .contact-header{
        .menu-btn{
            position: absolute;
            right: 1rem;
            top: 0;
        }
    }
    .contact-container{
        display: grid;
        grid-template-columns: 1fr;
        .contact-box{
            width: 100%;
            height: 100%;
            margin: inherit;
        }

        #form-control{
            .inline{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap:1rem;
            }
        }

    }
    //reusme

    #resume{
        h2{
            font-size: 14px;
            font-weight: 500;
        }
    }
    .resume-container{
        .row{
            font-size: 14px;
            display: grid;
            grid-template-columns: 100%;
            margin-bottom: 20px;
        }
        .point{
            text-align: center;
            margin: 0 0 10px 0;
            text-decoration: underline;
        }
    }
}
